<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJWJ7rgKGFDWg331RZwOFy9j4WOZVcc-c</string>
	<key>GCM_SENDER_ID</key>
	<string>789346602688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ollieeeq.Ovum</string>
	<key>PROJECT_ID</key>
	<string>ovumauth</string>
	<key>STORAGE_BUCKET</key>
	<string>ovumauth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789346602688:ios:3466d765567b58d20de725</string>
</dict>
</plist>